RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

AllowOverride All

<!-- https://www.slimframework.com/docs/v3/start/web-servers.html -->